.quellen-container {
    margin-top: 2rem;
}

.quellen-titel {
    font-size: large;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.quelle {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    margin-left: 3rem;
}
